.user-settings {
  margin: 6.4rem 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

.user-settings h2 {
  text-align: center;
  color: #f9fbfc;
}

.login-container {
  max-width: 400px;
  width: 100%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login-container h2 {
  text-align: center;
  color: black;
}

.login-container input {
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.login-container form button {
  display: block;
  margin: auto;
  margin-top: 1rem;
}

.register-link a {
  color: #f9fbfc;
  text-decoration: underline;
  margin-top: 1rem;
}

.user-settings .error {
  color: #f9fbfc;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.user-settings .error-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  margin-bottom: 0.4rem;
}

.user-settings .success {
  color: #f9fbfc;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}