@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*--------HERO------*/

.text {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1.2rem !important;
    font-weight: 350 !important;
}

.text span {
    font-weight: 500 !important;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    background-image: url(../../assets/images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero * {
    position: relative;
    z-index: 2; 
}

.hero h1 {
    font-size: 4rem;
    color: #f9fbfc;
    text-align: center;
    margin-top: 16rem;
}

.hero h1 span {
    font-family: 'Poetsen One', sans-serif;
    font-size: 5rem;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    background: transparent !important;
}

.intro-hero {
    font-size: 1.3rem;
}

/*--------ABOUT US------*/

.about-us {
    margin-top: 4rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-text {
    padding-left: 1.5rem;
    padding-top: 7rem;
    flex: 1;
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.about-text h2 {
    font-size: 3rem;
    color: #f9fbfc;
    text-align: center;
}

.about-text h2 span {
    font-family: 'Poetsen One', sans-serif;
    font-size: 3.5rem;
}

.about-text > p {
    font-size: 1.2rem;
    color: #f9fbfc;
    margin-top: 2rem;
    padding: 0 3rem;
}

.about-text button {
    margin-top: 3rem;
}

.about-img {
    flex: 1;
    height: 650px;

    background-image: url(../../assets/images/question.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*-----QUOTE SECTION-----*/

.quote-section {
    margin: 4rem auto;
    width: 100%;
    text-align: center;
    color: #f9fbfc;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.quote-text {
    flex: 2;
}

.quote {
    font-size: 2rem;
    color: #f9fbfc;
    text-align: center;
    font-family: 'Poetsen One', sans-serif;
}

.author {
    font-size: 1.2rem;
    color: #f9fbfc;
}

.quote-img {
    flex: 1;
    height: 500px;

    background-image: url(../../assets/images/question2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*--------COMO JUGAR--------*/

.play-section {
  width: 100%;
  margin-top: 5rem;
  color: #f9fbfc;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.play-section h2 {
  font-size: 3rem;
  color: #f9fbfc;
}

.play-container {
  margin-top: 4rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0 2rem;
}

.play {
  width: 300px;
  height: 600px;
  border-radius: 25px;
  background-color: #f9fbfc;
  color: #2d20f7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.play-title {
  font-size: 1.5rem;
}

.img1 {
  width: 100%;
  height: 300px;
  background-image: url(../../assets/images/img1.png);
  background-size: cover;
  background-position: 50% 45%;
  background-repeat: no-repeat;
}

.img2 {
  width: 100%;
  height: 300px;
  background-image: url(../../assets/images/img2.png);
  background-size: cover;
  background-position: 50% 45%;
  background-repeat: no-repeat;
}

.img3 {
  width: 100%;
  height: 300px;
  background-image: url(../../assets/images/img3.png);
  background-size: cover;
  background-position: 50% 45%;
  background-repeat: no-repeat;
}

.play-text {
  font-size: 1.2rem;
  padding: 0 1rem;
}

.play button {
  background-color: transparent;
  font-weight: 600;
  transition: color 0.3s;
  padding: 0.5rem 1.8rem;
  transition: 0.3s;
  border-radius: 25px;
  border: 1px solid #2d20f7;
  cursor: pointer;
}

.play button p {
  color: #2d20f7;
  text-decoration: none !important;
  font-size: 16px;
}

.play button:hover {
  color: #f9fbfc;
  background-color: #2d20f7 !important;

  p {
    color: #f9fbfc;
  }
}

.play button:hover {
  color: #f9fbfc;
  background-color: transparent;
  border: 1px solid #f9fbfc;
}