@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*--------HERO------*/

.text {
    font-family: 'Roboto', sans-serif !important;
    font-size: clamp(1rem, 0.933rem + 0.222vw, 1.2rem) !important;
    font-weight: 350 !important;
}

.text span {
    font-weight: 500 !important;
}

.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;

    background-image: url(../../assets/images/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero * {
    z-index: 2; 
}

.hero h1 {
    font-size: clamp(2.5rem, 2rem + 1.667vw, 4rem);
    color: #f9fbfc;
    text-align: center;
    margin-top: 16rem;
}

.hero h1 span {
    font-family: 'Poetsen One', sans-serif;
    font-size: clamp(3rem, 2.333rem + 2.222vw, 5rem);
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    background: transparent !important;
}

.hero > header {
    align-self: flex-start !important;
}

.intro-hero {
    font-size: clamp(1.1rem, 1.033rem + 0.222vw, 1.3rem);
}

/* ------------- SCROLL-DOWN --------------------- */

.hero .scroll-down {
    bottom: 2%;
}

.scroll-down {
  position: absolute;
  right: 48%;
  top: 90%;
  gap: 10px;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.scroll {
  width: 30px;
  height: 60px;
  border: 1px solid white;
  border-radius: 60px;
  position: relative;

  &::before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 50px;
  }
}

/*--------ABOUT US------*/

.about-us {
    margin-top: 4rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-text {
    padding-left: 1.5rem;
    padding-top: 7rem;
    flex: 1;
    height: 100%;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.about-text h2 {
    font-size: clamp(2rem, 1.667rem + 1.111vw, 3rem);
    color: #f9fbfc;
    text-align: center;
}

h2 span {
    font-family: 'Poetsen One', sans-serif;
    font-size: clamp(2.5rem, 2.167rem + 1.111vw, 3.5rem);
}

.about-text > p {
    font-size: 1.2rem;
    color: #f9fbfc;
    margin-top: 2rem;
    padding: 0 3rem;
}

.about-text button {
    margin-top: 3rem;
}

.about-img {
    flex: 1;
    height: 650px;

    background-image: url(../../assets/images/question.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*-----QUOTE SECTION-----*/

.quote-section {
    margin: 4rem auto;
    width: 100%;
    text-align: center;
    color: #f9fbfc;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.quote-text {
    flex: 2;
}

.quote {
    font-size: clamp(1.5rem, 1.333rem + 0.556vw, 2rem);
    color: #f9fbfc;
    text-align: center;
    font-family: 'Poetsen One', sans-serif;
}

.author {
    font-size: clamp(1rem, 0.933rem + 0.222vw, 1.2rem);
    color: #f9fbfc;
}

.quote-img {
    flex: 1;
    height: 500px;

    background-image: url(../../assets/images/question2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*--------COMO JUGAR--------*/

.play-section {
  width: 100%;
  margin-top: 5rem;
  color: #f9fbfc;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.play-section h2 {
  font-size: clamp(2rem, 1.667rem + 1.111vw, 3rem);
  color: #f9fbfc;
}

.play-container {
  margin-top: 4rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 0 2rem;
}

.play {
  width: 300px;
  height: 100%;
  border-radius: 25px;
  background-color: transparent;
  color: #f9fbfc;
  border: #f9fbfc 1px solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;

  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.play:hover {
  transform: translateY(-5px);
}

.play-title {
  font-size: clamp(1.2rem, 1.1rem + 0.333vw, 1.5rem);
  padding: 1rem 1rem;
  border-bottom: 1px solid #f9fbfc;
}

.play-text {
  font-size: clamp(1rem, 0.933rem + 0.222vw, 1.2rem);
  padding: 2rem 2rem;
}

/*------------------------ MEDIA QUERIES -------------------------*/

@media (max-width: 768px) {
  
}