.user-dashboard {
  width: 100%;
  margin: 2rem auto;
  padding: 1rem;
  color: #fff;
}

.user-dashboard > h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.user-dashboard > p {
  text-align: center;
  margin-bottom: 1.5rem;
}

.user-container1 {
  width: 100%;
  height: auto;
  margin-top: 0;
  padding-top: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.profile-section h2, .tests-section h2 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  border-bottom: 2px solid #f9fbfc;
  padding-bottom: 0.5rem;
}

.profile-section, .tests-section {
  border-radius: 10px;
  margin-bottom: 1.5rem;
  margin-top: 4rem;
  width: 500px;
}

.user-profile-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 2rem;
}

.profile-details p {
  margin: 0.5rem 0;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
}