@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: Montserrat;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -blue: #2d20f7;
  -white: #f9fbfc;
  -purple: #4145d2;
}

#root {
  width: 100%;
  position: relative;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html{
  scroll-behavior: smooth;
}
body {
  display: flex;
  place-items: center;
  width: 100%;
  background: linear-gradient(90deg, #2d20f7,#4145d2,#2d20f7);                                      
  }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #f9fbfc;
  font-weight: 600;
  transition: color 0.3s;
  padding: 0.5rem 1.8rem;
  transition: 0.3s;
  border-radius: 25px;
  border: 1px solid transparent;
  cursor: pointer;
}

button p {
  color: #2d20f7;
  text-decoration: none !important;
  font-size: 16px;
}

button:hover {
  color: #f9fbfc;
  background-color: transparent;
  border: 1px solid #f9fbfc;

  p {
    color: #f9fbfc;
  }
}

/* ------------------ BURGUER ---------------------------------- */

.nav-bar {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 102;
}

.nav-bar span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  transition: 0.3s ease-in-out;
}

.nav-bar span:nth-child(1) {
  top: 0;
}

.nav-bar span:nth-child(2) {
  top: 9px;
}

.nav-bar span:nth-child(3) {
  top: 18px;
}

.nav-bar.open span:nth-child(1) {
  top: 9px;
  transform: rotate(135deg);
}

.nav-bar.open span:nth-child(2) {
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.nav-bar.open span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}

* ------------------ BOTON FLOTANTE ----------------------------- */

.top {
  position: absolute !important;
  bottom: 20px !important;
  right: 20px !important;
  background-color: #2d20f7 !important;
  color: white !important;
  border: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 101;
}
.top svg {
  fill: white;
  height: 25px;
  width: 25px;
  margin: 10px;
}

.top.show {
  opacity: 1 !important;
  visibility: visible !important;
}

.top:hover {
  background-color: #4145d2 !important;
}

