@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: Montserrat;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -blue: #2d20f7;
  -white: #f9fbfc;
  -purple: #4145d2;
}

#root {
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html{
  scroll-behavior: smooth;
}
body {
  display: flex;
  place-items: center;
  width: 100%;
  background: linear-gradient(90deg, #2d20f7,#4145d2,#2d20f7);                                      
  }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #f9fbfc;
  font-weight: 600;
  transition: color 0.3s;
  padding: 0.5rem 1.8rem;
  transition: 0.3s;
  border-radius: 25px;
  border: 1px solid transparent;
  cursor: pointer;
}

button p {
  color: #2d20f7;
  text-decoration: none !important;
  font-size: 16px;
}

button:hover {
  color: #f9fbfc;
  background-color: transparent;
  border: 1px solid #f9fbfc;

  p {
    color: #f9fbfc;
  }
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
