.footer {
    width: 100%;
    height: auto;
    padding: 2rem 2rem;
    margin-top: 4rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    flex: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-icon2 {
    flex: 150px;
    height: 150px;
}

.footer-text {
    flex: 35%;
    text-align: center;
}

.footer-text span {
    font-weight: 600;
}

.agrad {
    flex: 35%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.freepik {
    width: 100px;
    height: 100px;

    background-image: url(../../assets/images/freepik.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}