* ------------------ BOTON FLOTANTE ----------------------------- */

#top {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  background-color: #2d20f7 !important;
  color: white !important;
  border: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 101;
}

#top svg {
  fill: white;
  height: 25px;
  width: 25px;
  margin: 10px;
}

#top.show {
  opacity: 1 !important;
  visibility: visible !important;
}

#top:hover {
  background-color: #4145d2 !important;
}